{% extends "template.html" %}
{% block content %}
<div class="half-block-left">
    <h1 class="inset-header">My Profile</h1>
    <div class="profile-picture pic-medium" style="margin-right:-5%;margin-bottom:4%;box-shadow:0 0 5px #eee;position:relative;left:-9%; background-image:url(https://scontent-lga.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/998712_10201566742429760_1837437532_n.jpg?oh=98969f9bdc1489785f37b2d6a4020d37&amp;oe=5580957B)"></div>
    <p class="my-mini-profile"><strong>{{loggedin.fname}}</strong><br>Male - 23 Years Old</p>
    <div class="clear"></div>
    
    <ul class="matches-my-profile">
     <li><strong>Workout Habits: </strong></li>
<ul>
     {% if loggedin.habit_cardio == "cardio" %}
                  <li>Cardio</li>
            {% endif %}
            {% if loggedin.habit_abs == "abs" %}
                  <li>Abs </li>
            {% endif %}
            {% if loggedin.habit_weight == "weight" %}
                  <li>Increase weight </li>
            {% endif %}

            {% if loggedin.habit_treadmill == "treadmill" %}
                  <li>Treadmill </li>
            {% endif %}

            {% if loggedin.habit_upperbody == "upperbody" %}
                  <li>Upper Body </li>
            {% endif %}
            {% if loggedin.habit_yoga == "yoga" %}
                  <li>Yoga </li>
            {% endif %}

</ul>
    

       
     <ul>
     
    </ul>
</div>
<div class="half-block-right">
  <h1 class="inset-header">Matches</h1>
  {% for mem in members %}
  <div class="mini-profile">
    <div class="profile-picture pic-small" style="background-image:url(http://www.asdl.gatech.edu/Generic_profile_M.jpg)"></div>
    <!--href="/edit?uid= !-->
    <a href="/newsletter?email={{mem.email}}"><strong>{{mem.fname}}</strong><br>{{mem.gender}} - {{mem.age}}</a>
  </div>
  {% endfor %}
    <div class="mini-profile">
    <div class="profile-picture pic-small" style="background-image:url(https://lh6.googleusercontent.com/-VQVRK5E68Ug/UEC5tTUv6uI/AAAAAAAAAn8/AdjBWmufYkw/w320-h322-no/headshotsm.jpg)"></div>
    <p><strong>Timothy James</strong><br>Male - 36 Years Old</p>
  </div>
  <br>
</div>
<div class="half-block-left">
  <h1 class="inset-header">Message Board</h1>
      <input type ="text" id="message_text"> <input onclick="sendMessage();" type="button">
               
                 <font color="green"> <p id="messages"> </p> </font>
            <br>
            {% for curr in posts %}
                <li class="list-group-item">{{curr.message_text}} </li>
            {% endfor %}
            <div id="p1"> </div>
             
          
</div>

 <script>
   // retrieveMessage();
function retrieveMessage() {
   
       var messageTag = document.getElementById('p1'); 
       // document.getElementById("p1").innerHTML = "New text!";
    
    alert("retrive Message");
    var xmlHttp = createXmlHttp();
    xmlHttp.onreadystatechange=function() {
        if(xmlHttp.readyState == 4) {
            showMessages(xmlHttp.responseXML);
        }
    }
    xmlHttp.open("GET",'/messages',true);
    xmlHttp.send();
}
function sendMessage() {
     //document.getElementById("p1").innerHTML = "New text!";
    var inputField = document.getElementById('message_text');
    var text = inputField.value;
    if(inputField) {

      
      //alert(text);

        var xmlHttp = createXmlHttp();
        xmlHttp.onreadyexchange = function() {
            if(xmlHttp.readyState == 4) {
                if(xmlHttp.responseText != 'OK') {
                alert('ERROR: ' + xmlHttp.responseText)
            }
           //alert("ready state == 4");
        }
    } 

      var parseString = 'text=' + escape(text);
        xmlHttp.open("POST",'/sendmsg',true);
        xmlHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlHttp.send(parseString); 
        document.getElementById('messages').innerHTML = document.getElementById('messages').innerHTML + '<li class="list-group-item">' + text + '</li>';

    }
        /*
        xmlhttp.onreadyexchange = function() {
            if(xmlHttp.readyState == 4) {
                if(xmlHttp.responseText != 'OK') {
                    alert("Error:" + xmlHttp.responseText)
                }
            }
        }
        var parseString = 'text=' + escape(text);
        xmlHttp.open("POST",'/sendmsg',true):
        xmlHttp.setRequestHeader("Content-type","application/x-wwww-form-urlencoded");
        xmlHttp.send(parseString);  
    }   */



}

function createXmlHttp() {

var xmlhttp;

if (window.XMLHttpRequest) {

    xmlhttp = new XMLHttpRequest();

} 
else {

    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

}

if (!(xmlhttp)) {

    alert("Your browser does not support AJAX!");

}

return xmlhttp;

}  

function showMessages(xml) {
  // document.getElementById("p1").innerHTML = "New text!";

   // alert("show message");
   var text = '';
   var messages = xml.getElementByTagName("message");
   //alert(messages.length);
   for(var i = 0; i < messages.length; i++) {
        text += '<div class="subject">';
        text += messages[i].attributes['time'].value;
        text += ' '; 
        text += messages[i].attributes['user'].value;    
        text += 'said:</div>';
        text += '<div class="messagetext>"';
        text += messages[i].textContent;
        text += '</div>';
    }   
    var messageTag = document.getElementById('messages'); 
   document.getElementById("p1").innerHTML = "New text!";
    if(messageTag) {
        messages.innerHTML = "erere";
    }

    setTimeout('retrieveMessages();','2000');
}

    
</script>
{% endblock %}